@page "/editoccupation/{id}"

<PageTitle>Update Occupation</PageTitle>

@using Blazor.Data
@using Data.Models
@inject IOccupationServiceUI OccupationServiceUI
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities

<h1>Update Occupation</h1>

@if (occupation == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <RadzenTemplateForm Data="@occupation" Submit="@((Occupation occupation) => { Update(occupation); })">
            <div class="row">
                <div class="col-md-3">
                    <RadzenFieldset Text="Enter details">
                        <div style="margin-bottom: 1rem;" class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox @bind-Value="occupation.Name" style="width: 100%;" Name="Name" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="margin-top: 16px;">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                </div>
            </div>
        </RadzenTemplateForm>
}

@code
{
    [Parameter]
    public string id { get; set; }
    private Occupation occupation = new Occupation();
    private int _parsedId;

    protected override async Task OnInitializedAsync()
    {
        _parsedId = int.Parse(id);
        occupation = await OccupationServiceUI.GetByIdAsync(_parsedId);
    }

    private void Update(Occupation occupation)
    {
        occupation.Id = _parsedId;
        OccupationServiceUI.UpdateAsync(occupation);
        NavigationManager.NavigateTo("/occupation");
    }
}
