@page "/deletenation/{id}"


<PageTitle>Delete Nation</PageTitle>

@using Blazor.Data
@using Data.Models
@inject INationServiceUI NationServiceUI
@inject NavigationManager navigationManager

<h1>Are you sure</h1>
<RadzenButton Click=@(() => Delete()) Text="Confirm"  ButtonStyle="ButtonStyle.Danger"/>
<RadzenButton Click=@(() => GoBack()) Text="Cancel"  ButtonStyle="ButtonStyle.Primary"/>

@code
{
    [Parameter]
    public string id { get; set; }

    private async void Delete()
    {
        var parsedId = int.Parse(id);
        await NationServiceUI.DeleteAsync(parsedId);
        GoBack();
    }

    private void GoBack()
    {
        navigationManager.NavigateTo("/nation");
    }
}
