@using Blazor.Data
@using Data.Models
@using System.Collections
@inject ILogServiceUI LogServiceUI


<h1>Logging</h1>
<table>

    @if (AllLogs != null)
    {
        @foreach (var item in AllLogs)
        {
            <tr>
                <td>@item.Message</td>
            </tr>
        }
    }
</table>


@code
{
    private int counter = 0;
    private List<Log> AllLogs = new List<Log>();
    protected override async Task OnInitializedAsync()
    {
        var timer = new System.Threading.Timer((_) =>
        {

            InvokeAsync(async () =>
    {
    AllLogs = await GetLogs();
    StateHasChanged();
            }); 
        }, null, 0, 10000);
    }

    private async Task<List<Log>> GetLogs()
    {
        return await LogServiceUI.GetAsync();
    }
}