@page "/persons"

<PageTitle>Persons</PageTitle>

@using Blazor.Data
@using Data.Models
@inject IPersonServiceUI PersonServiceUI

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (persons == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if(persons.Count() == 0)
    {
        <p><em>No persons found</em></p>
    }
    else{
    <table class="table">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in persons)
            {
                <tr>
                    <td>@person.firstName</td>
                    <td>@person.lastName</td>
                    <td>@person.Sex</td>
                </tr>
            }
        </tbody>
    </table>
    }

}

@code {
    private IEnumerable<Person>? persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await PersonServiceUI.GetPersonAsync();
    }
}
