@page "/cityRadzen"

<PageTitle>City Table</PageTitle>

@using Blazor.Data
@using Data.Models
@inject ICityServiceUI CityServiceUI

<h1>City Table</h1> 
<a href="/createcity">(Create New)</a>

@if (cities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenDataGrid Data="@cities" TItem="City" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
    <Columns>
        <RadzenDataGridColumn TItem="City" Property="Name<" Title="Name" />
        <RadzenDataGridColumn TItem="City" Property="Population" Title="Population" />
        <RadzenDataGridColumn TItem="City" Property="Ruler" Title="Ruler" />
        <RadzenDataGridColumn TItem="City" Property="Districts" Title="Districs" />
    </Columns>
</RadzenDataGrid>

}

@code {
    private IEnumerable<City>? cities;

    protected override async Task OnInitializedAsync()
    {
        cities = await CityServiceUI.GetCitiesAsync();
    }
}
