@page "/city"

<PageTitle>City Table</PageTitle>

@using Blazor.Data
@using Data.Models
@inject ICityServiceUI CityServiceUI

<h1>City Table</h1>

@if (cities == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (cities.Count() == 0)
    {
        <p><em>No persons found</em></p>
    }
    else{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Population</th>
                <th>Ruler</th>
                <th>Districts</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var city in cities)
            {
                <tr>
                    <td>@city.Name</td>
                    <td>@city.Population</td>
                    @if (city.CityRuler != null)
                    {
                        <td>@city.CityRuler</td>
                    }
                    else
                    {
                        <td> </td>
                    }
                    @if(city.Districts != null)
                    {
                        <td>@city.Districts</td>
                    }
                    else
                    {
                        <td> </td>
                    }
                </tr>
            }
        </tbody>
    </table>
    }

}

@code {
    private IEnumerable<Data.Models.City>? cities;

    protected override async Task OnInitializedAsync()
    {
        cities = await CityServiceUI.GetCityAsync();
    }
}
