@page "/editcityOld/{id}"


<PageTitle>Edit City</PageTitle>

@using Blazor.Data
@using Data.Models
@inject ICityServiceUI cityServiceUI

<h1>Edit City</h1>
@if (City == null)
{
    <p><em>Loading...</em></p>
    
}
else
{

}

@code
{
    [Parameter]
    public  string id { get; set; }
    public City? City { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var parsedId = int.Parse(id);
        City = await cityServiceUI.GetByIdAsync(parsedId);
    }
}
