@page "/updatedistrict"

<PageTitle>Update District</PageTitle>

@using Blazor.Data
@using Data.Models
@inject IDistrictServiceUI DistrictServiceUI
@inject NavigationManager NavigationManager
@using Microsoft.AspNetCore.WebUtilities

<h1>Update District</h1>

@if (districts == null)
{
        <p><em>Loading...</em></p>
}
else
{
        <RadzenTemplateForm Data="@district" Submit="@((District district) => { Update(district); })">
            <div class="row">
                <div class="col-md-3">
                    <RadzenFieldset Text="Enter details">
                        <div style="margin-bottom: 1rem;" class="row">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox @bind-Value="district.Name" style="width: 100%;" Name="Name" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="margin-top: 16px;">
                    <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                </div>
            </div>
        </RadzenTemplateForm>
}

@code
{
    private District district = new District();
    private int _foundId;
    private IEnumerable<District>? districts;

    protected override async Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("id", out var _id))
        {
            _foundId = Convert.ToInt32(_id);
        }
        districts = await DistrictServiceUI.GetAsync();
    }
    private void Update(District district)
    {
        district.Id = _foundId;
        DistrictServiceUI.UpdateAsync(district);
        NavigationManager.NavigateTo("/district");
    }
}
