@page "/nation"

<PageTitle>Nation Table</PageTitle>

@using Blazor.Data
@using Data.Models
@inject INationServiceUI NationServiceUI
@inject NavigationManager NavManager

<h1>Nation Table</h1>

@if (nations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (nations.Count() == 0)
    {
        <p><em>No persons found</em></p>
    }
    else{

    <RadzenDataGrid Data="@nations" TItem="Nation" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
        <Columns>
            <RadzenDataGridColumn TItem="Nation" Property="Name" Title="Name" />
            <RadzenDataGridColumn TItem="Nation" Property="Type" Title="Type" />
            <RadzenDataGridColumn TItem="Nation" Property="NationCapital.Name" Title="Capital" />
            <RadzenDataGridColumn TItem="Nation" Property="Population" Title="Population" />
            <RadzenDataGridColumn TItem="Nation" Property="NationsRuler.firstName" Title="Ruler" />

            <RadzenDataGridColumn TItem="Nation" Width="160px" Title="Create" Sortable="false" Filterable="false">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Class="m-1" Click=@(() =>
                    NavManager.NavigateTo("/createnation")) Text="Create" />
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Nation" Width="160px" Title="Edit" Sortable="false" Filterable="false">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Warning" Class="m-1" Click=@(() =>
                    NavManager.NavigateTo("/editnation")) Text="Edit" />
                </Template>
            </RadzenDataGridColumn>

            <RadzenDataGridColumn TItem="Nation" Width="160px" Title="Delete" Sortable="false" Filterable="false">
                <Template Context="data">
                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Class="m-1" Click=@(() =>
                    NavManager.NavigateTo("/deletenation")) Text="Delete" />
                </Template>
            </RadzenDataGridColumn>
        </Columns>
    </RadzenDataGrid>
    }

}

@code {
    private IEnumerable<Data.Models.Nation>? nations;

    protected override async Task OnInitializedAsync()
    {
        nations = await NationServiceUI.GetAsync();
    }
}
