@page "/region"

<PageTitle>Region Table</PageTitle>

@using Blazor.Data
@using Blazor.Data.Models
@inject IRegionServiceUI RegionServiceUI

<h1>Region Table</h1>

@if (regions == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if(regions.Count() == 0)
    {
        <p><em>No persons found</em></p>
    }
    else{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Region Capital</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var region in regions)
            {
                <tr>
                    <td>@region.Name</td>
                    @if(region.RegionCapital != null)
                    {
                        <td>@region.RegionCapital.Name</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
            }
        </tbody>
    </table>
    }

}

@code {
    private IEnumerable<Data.Models.Region>? regions;

    protected override async Task OnInitializedAsync()
    {
        regions = await RegionServiceUI.GetRegionAsync();
    }
}
