@page "/createoccupation"

<PageTitle>Create Occupation</PageTitle>

@using Blazor.Data
@using Data.Models
@inject IOccupationServiceUI OccupationServiceUI
@inject NavigationManager NavigationManager

<h1>Create Occupation</h1>

@if (occupations == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenTemplateForm Data="@occupation" Submit="@((Occupation occupation) => { Create(occupation); })">
        <div class="row">
            <div class="col-md-3">
                <RadzenFieldset Text="Enter details">
                    <div style="margin-bottom: 1rem;" class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <RadzenLabel Text="Name" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value="occupation.Name" style="width: 100%;" Name="Name" />
                        </div>
                    </div>
                </RadzenFieldset>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="margin-top: 16px;">
                <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
            </div>
        </div>
    </RadzenTemplateForm>
}

@code
{
    private Occupation occupation = new Occupation();
    private IEnumerable<Occupation>? occupations;

    protected override async Task OnInitializedAsync()
    {
        occupations = await OccupationServiceUI.GetAsync();
    }

    private void Create(Occupation occupation)
    {
        OccupationServiceUI.CreateAsync(occupation);
        NavigationManager.NavigateTo("/occupation");
    }
}
